include ../mixins/shape
include ../mixins/team-item

block vars
- var site = { title:'czech eLIB', description: '' }

doctype html
html(lang=cs)
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title= site.title

		meta(name='description', content=site.description)

		link(rel='shortcut icon', href='images/favicon.png?view=elib', type='image/png', sizes='16x16')
		link(rel='shortcut icon', href='images/favicon-32x32.png?view=elib', type='image/png', sizes='32x32')

		link(rel='stylesheet', href=`styles/${buildstamp}index.css`, media='screen')
		link(rel='stylesheet', href=`styles/bootstrap/${buildstamp}index.css`, media='screen')

		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600&subset=latin-ext', rel='stylesheet')


		<!--[if lt IE 9]>
		link(rel='stylesheet', href=`styles/${buildstamp}oldie.css`, media='screen')
		script(src='libs/lt-ie-9.min.js')
		<![endif]-->

		// Queue of JS components to initialize
		script.
			initComponents = [
				{ name: 'shapes', data: { url: './sprites/shapes.svg' } }
			]

			function runAnimation(timeout){
				setTimeout(function(){
					document.documentElement.className += ' js run-animation';
				}, timeout)
			}

			runAnimation(400)

		//- Application init
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js', defer)
		script(src='libs/bootstrap/bootstrap.min.js', defer)
		script(src='libs/jquery.magnific-popup.min.js', defer)
		//- script(src='scripts/bootstrap/${buildstamp}bootstrap-sprockets.js', defer)
		script(src=`scripts/${buildstamp}index.js`, defer)

	body
		block content
